* {
  margin: 0;
  padding: 0;
}

body {
  background: #fafaf6;
  padding: 40px 40px 40px 40px;
  font-family: 'Montserrat', sans-serif;
}

ul,
ol {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
}

/* main-content */

.main-content {
  padding: 88px 80px 40px 80px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* sidebar */

.sidebar {
  background: #e0ebfe;
  padding: 40px 0 40px 0;
  width: 370px;
}

.sidebar-content {
  padding: 40px 40px 40px 40px;
}

/* contacts */

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-link {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #2979ff;
  align-items: center;
}

/* .contacts-link:hover,
.contacts-link:focus {
  color: #ff5100;
} */

.contacts-link:hover .contacts-svg,
.contacts-link:focus .contacts-svg {
  fill: #ff5100;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 12px;
  letter-spacing: 0.04em;
}

.contacts-container {
  margin-bottom: 40px;
}

.contacts-svg {
  margin-right: 20px;
  fill: #000;
}

/* skills */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  flex-direction: column;
  padding-left: 24px;
}

.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #161d2a;
  list-style-type: circle;
}

/* Main content */

.my-info {
  margin-bottom: 40px;
}

.my-profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 121%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 122%;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

/* My projects */

.projects-container {
  margin-bottom: 40px;
}

.my-projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #000;
}

.my-projects-list {
  flex-direction: column;
  padding-left: 16px;
}

.my-projects-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 171%;
  /* text-decoration-skip-ink: none; */
  color: #005fff;
  margin-left: 16px;
}

.my-projects-item-link:hover,
.my-projects-item-link:focus {
  color: #ff5100;
}

.my-projects-item-link:hover,
.my-projects-item-link:focus {
  color: #ff5100;
}

.my-projects-item-tech {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

/* Work Experience */

.work-experience-container {
  margin-bottom: 12px;
}

.work-experience {
  margin-bottom: 40px;
}

.work-experience-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.work-experience-company {
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.company-name {
  color: #6d9bf5;
}

.work-experience-period {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.wep-separator {
  color: #000;
}

.work-experience-duties-list {
  flex-wrap: wrap;
  padding-left: 32px;
}

.work-experience-duties-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
  letter-spacing: 0.02em;
  list-style-type: circle;
}
/* Education */

.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-institution {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-top: 0;
  margin-bottom: 8px;
}

.work-experience-now {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
